.container {
  display: block;
  margin: 40px;
  border: solid;
  border-radius: 30px;
  border-color: gainsboro;
  max-width: 800px;
  padding: 10px 50px 20px;
}

.card {
  display: block;
  margin: 20px auto;
  padding: 10px;
}

.btn-search {
  background: red;
  color: white;
}

.main-temp {
  position: relative;
  left: 500px;
  top: -100px;
}

.main-emoji-temp {
  font-size: 40px;
  color: #a8b1e3;
}

.city {
  display: block;
  margin: 0 auto;
}

.city-box {
  box-sizing: content-box;
  width: 50%;
}

.emoji-temp {
  font-size: 40px;
}

.text-temp {
  color: #a8b1e3;
  font-weight: bold;
}

.more-weather {
  color: gray;
  font-size: 20px;
}

.main-temp a {
  color: #a8b1e3;
  text-decoration: none;
}

.main-temp .active {
  color: lightgray;
  cursor: default;
}

.main-temp .active:hover {
  text-decoration: none;
  color: blueviolet;
}
